<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kasper Insurance Group</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<div class="navbar-brand"><img src="~/Images/logo.png" height="30" alt="Kasper Insurance Group Logo" style="background-color:#0E2451;" /></div>*@
                @Html.ActionLink("Kasper Insurance", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Health Plans<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Individual Plans", "Individuals", "HealthPlans")</li>
                            <li>@Html.ActionLink("Group Plans", "Groups", "HealthPlans")</li>
                            <li>@Html.ActionLink("Dental Plans", "Dental", "HealthPlans")</li>
                            <li>@Html.ActionLink("Life Insurance", "Life", "HealthPlans")</li>
                            <li>@Html.ActionLink("Medicare", "Medicare", "HealthPlans")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Company Info", "CompanyInfo", "Home")</li>
                            <li>@Html.ActionLink("Agent Bio", "AgentBio", "Home")</li>
                            <li>@Html.ActionLink("Services", "Services", "Home")</li>
                            <li><a href="https://www.facebook.com/KasperInsuranceGroup">Facebook</a></li>
                        </ul>

                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kasper Insurance Group</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
